* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* general style */
:root {
  --white: #ffffff;
  --black: #000000;
  --terqwaz: #95cfd5;
  --dark_terqwaz: #7cbfc7;
  --red: #c42129;
  --dark_red: #91191e;
  --pink: #e0adc5;
  --dark_pink: #c78da8;
}
a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  display: inline-block;
}

.kettle-1 {
  background-color: var(--terqwaz);
}
.kettle-2 {
  background-color: var(--red);
}
.kettle-3 {
  background-color: var(--pink);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
/* general style */
/* start navbar style*/

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.navbar_links ul li {
  list-style: none;
  display: inline-block;
  margin-right: 35px;
}
.navbar_links ul li:last-of-type {
  margin-right: 0;
}
.navbar_links ul li:hover .sub_menu {
  display: block;
}

.navbar_links ul li a.nav_link {
  display: inline-block;
  padding: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #fff;
  transition: all 0.25s ease-in-out;
}
.navbar .navbar_logo {
  cursor: pointer;
}

.navbar_links ul li a:hover,
.active_link {
  border-color: #000 !important;
}
.mobile_screen {
  display: none;
}
.mobile_screen span {
  cursor: pointer;
}
.mobile_screen .menu {
  margin-right: 15px;
  display: inline-block;
}
.mobile_screen .menu img {
  height: 20px;
}
.navbar .navbar_icons span {
  margin-right: 15px;
  cursor: pointer;
}
.navbar .navbar_icons span:last-of-type {
  margin-right: 0px;
}
.mobile_menu {
  display: none;
}
/* end navbar style*/

/* start sub_menu  style*/
.sub_menu {
  position: absolute;
  top: 80px;
  width: 60%;
  left: 20%;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
  display: none;
  z-index: 444;
}
.layer {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 20px;
  top: -20px;
}
.sub_menu .sub_menu_content {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 20px;
}
.sub_menu_details .sub_menu_links {
  display: flex;
  gap: 50px;
}
.sub_menu a {
  text-transform: capitalize;
}
.sub_menu_details > div,
.sub_menu_details .sub_menu_links > div {
  display: flex;
  flex-direction: column;
}
.sub_menu_details .sub_menu_links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sub_menu_details h4 {
  margin-bottom: 12px;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
}
.sub_menu_details a {
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
  width: fit-content;
}
.sub_menu_details a:hover {
  font-weight: 500;
  text-decoration: underline;
}
/* ==> media query from 750 to 1200 */
@media (max-width: 1200px) and (min-width: 750px) {
  .sub_menu {
    width: 90%;
    left: 5%;
  }
}
/* end sub_menu  style*/

/* start mobile menu style*/
.mobile_menu {
  position: absolute;
  top: 63px;
  background-color: #fff;
  width: 100%;
  left: 0;
  padding: 10px;
  display: none;
  z-index: 555;
}
.mobile_menu .mobile_menu_item {
  position: relative;
}

.mobile_menu .mobile_menu_item .mobile_menu_item_head {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.mobile_menu .mobile_menu_item .mobile_menu_item_head.active {
  background-color: #000;
  color: #fff;
}
.mobile_menu .mobile_menu_item .mobile_menu_item_head.active span:last-of-type {
  display: none;
}
.mobile_menu
  .mobile_menu_item
  .mobile_menu_item_head.active
  span:first-of-type {
  margin: auto;
}
.mobile_menu .mobile_menu_item_head span {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}
.mobile_menu .mobile_menu_item_head span img {
  height: 15px;
}

.mobile_sub_menu {
  position: absolute;
  background: #fff;
  top: 44px;
  left: 0px;
  width: 100%;
  padding: 10px 27px;
  z-index: 1;
  display: none;
}
.mobile_sub_menu_content .menu_head {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.mobile_sub_menu_content:last-of-type .menu_head {
  border: none;
}
.mobile_sub_menu_content > div span {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.mobile_sub_menu_content .menu_content {
  display: flex;
  justify-content: space-between;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  padding: 0px 10px;
  background-color: #f3f3f3;
}
.mobile_sub_menu_content.active .menu_content {
  height: 150px;
  overflow-y: auto;
}
.mobile_sub_menu_content .menu_content a {
  margin-bottom: 5px;
  padding: 3px 0;
}
.mobile_sub_menu_content .menu_content > div {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

/* end mobile menu style */

.slider_header {
  height: calc(100vh - 62px);
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.wrapper {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
}
.slider_header_content {
  width: 60%;
}
.slider_header_image {
  width: 40%;
}
.slider_header_content h1 {
  color: var(--white);
  font-size: 10em;
}
.slider_header_content p {
  color: var(--white);
  font-size: 1.4em;
  width: 80%;
  margin-top: -30px;
  margin-bottom: 38px;
}
.slider_header_content .controls {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px 0;
}
.slider_header_content .controls .btn {
  border: none;
  outline: none;
  padding: 12px 90px;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: var(--black);
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  margin-right: 40px;
  cursor: pointer;
  box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}
.slider_header_content .controls .btn:hover {
  background-color: var(--white);
  color: var(--black);
}
.watch_video {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
.watch_video span.icon {
  width: 62px;
  height: 62px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid var(--black);
}
.watch_video span.icon i {
  transform: translate(10px, 10px) scale(1);
  padding: 8px 7px 8px 10px;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--black);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  animation: pulse 2s infinite;
  transition: all 0.2s ease-in-out;
}

.watch_video .text {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.watch_video:hover span.icon i {
  color: var(--black);
  background-color: var(--white);
}
.watch_video:hover .text {
  text-decoration: underline;
}
.slider_header_content .kettles_navigate {
  display: flex;
  gap: 30px;
  padding-top: 20px;
}
.slider_header_content .kettles_navigate .navigate_item {
  width: 90px;
  border-radius: 10px;
  padding: 15px 15px 10px 15px;
  cursor: pointer;
  border: 1px solid var(--white);
  transition: all 0.2s ease-in-out;
}
.slider_header_content .kettles_navigate .navigate_item:hover img {
  transform: scale(1.15);
}
.slider_header_content .kettles_navigate .navigate_item.active {
  background-color: var(--white);
}
.slider_header_content .kettles_navigate img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.slider_img {
  position: relative;
  width: 90%;
  margin: auto;
}
.slider_img img {
  position: relative;
  z-index: 2;
  width: 100%;
}
.slider_header_image .slider_title {
  position: absolute;
  height: 100%;
  top: 0;
  right: -400px;
  transform: rotateZ(-90deg);
  font-size: 150px;
  font-weight: 900;
  letter-spacing: 20px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

/* media query screens until  875px*/
@media (max-width: 1200px) and (min-width: 875px) {
  .wrapper {
    width: 90%;
  }
  .slider_header_content {
    width: 60%;
  }
  .slider_header_image {
    width: 40%;
  }
  .slider_header_content h1 {
    font-size: 6.5rem;
    margin-bottom: 10px;
  }
  .slider_header_content p {
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.3rem;
  }
  .slider_header_content .controls .btn {
    padding: 13px 70px;
    margin-right: 20px;
  }

  .slider_header_image .slider_img {
    width: 90%;
  }
  .slider_header_image .slider_img img {
    width: 100%;
  }
}

/* screen from  874px to 751px*/
@media (max-width: 874px) and (min-width: 751px) {
  .wrapper {
    width: 95%;
  }
  .slider_header_content h1 {
    font-size: 5.5rem;
    margin-bottom: 20px;
  }
  .slider_header_content p {
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  .slider_header_content .controls {
    margin-bottom: 10px;
  }
  .slider_header_content .controls .btn {
    padding: 13px 70px;
    margin-right: 15px;
    font-size: 16px;
  }
  .slider_header_image .slider_img {
    width: 95%;
  }
  .slider_header_content .kettles_navigate {
    margin-top: 0px;
  }
  .watch_video span.icon {
    width: 45px;
    height: 45px;
  }
  .watch_video span.icon i {
    transform: translate(7px, 7px) scale(1);
    font-size: 13px !important;
    animation: pulseA 2s infinite;
  }
  .watch_video .text {
    font-size: 16px;
  }
}

/* media query screens small than 750px */
@media (max-width: 750px) {
  .navbar {
    padding: 15px;
    position: relative;
  }
  .navbar .navbar_icons span:first-of-type {
    display: none;
  }
  .mobile_screen {
    display: block;
  }
  .navbar .navbar_links {
    display: none;
  }
  .mobile_menu {
    display: none;
  }

  .wrapper {
    width: 95%;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .slider_header_content,
  .slider_header_image {
    width: 100%;
    text-align: center;
  }
  .slider_header_content .controls {
    padding: 0;
    width: 90%;
    margin: 0px auto 0px auto;
    justify-content: center;
  }
  .slider_header_content h1 {
    font-size: 5rem;
    margin-bottom: 0px;
  }
  .slider_header_content p {
    font-size: 1.1rem;
    margin: 0 auto 30px auto;
  }
  .watch_video .text {
    display: none;
  }
  .slider_header_content .controls .btn {
    padding: 10px 60px;
    margin-right: 20px;
  }
  .slider_header_content .kettles_navigate {
    display: none;
  }
  .watch_video span.icon {
    width: 45px;
    height: 45px;
  }
  .watch_video span.icon i {
    transform: translate(1px, 7px) scale(1);
    font-size: 13px !important;
    animation: pulseB 2s infinite;
  }

  .slider_header_image .slider_img {
    width: 60%;
  }
}

/* animation */

@keyframes pulse {
  0% {
    transform: scale(0.95) translate(10px, 10px);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1) translate(10px, 10px);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95) translate(10px, 10px);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulseA {
  0% {
    transform: scale(0.95) translate(7px, 7px);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1) translate(7px, 7px);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95) translate(7px, 7px);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulseB {
  0% {
    transform: scale(0.95) translate(1px, 7px);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1) translate(1px, 7px);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95) translate(1px, 7px);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
